<div class="container my-5">
	<main class="container-fluid d-flex justify-content-center align-items-center">
		<div class="container ayah-container d-flex justify-content-center flex-column">
			<form action="/" method="post" name="ayah">
				<input id="ayahNumber" type="hidden" name="ayahNumber" value="" />
			</form>
			<% matches.forEach(function(match) { %>
			<div class="search-result">
				<p id="<%=match.number%>" class="fs-3" onclick="submitForm(this)">
					<% if (match.text.length<100) { %> <%= match.text %> <% } else { %> <%=match.text.substring(0, 100)+"...";%>
					<% } %>
					<span class="fs-4">(<%= match.numberInSurah %>)</span>
				</p>
				<div class="ayah-prop fs-4">
					<span><%= match.surah.name %></span>
					<span>اية<%=match.numberInSurah %></span>
				</div>
			</div>
			<% }); %>
		</div>
	</main>
</div>
<script>
	const inputField = document.getElementById("ayahNumber");
	function submitForm(evt) {
		inputField.value = evt.id;
		document.forms.ayah.submit();
	}
</script>
