<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-xxl">
		<a class="navbar-brand d-flex" href="/">
			ايات قرآن
			<img
				src="/images\hd-quran-book-black-icon-transparent-background-116370457481jmbswlvix-removebg-preview.png"
				alt=""
				width="30"
				height="30"
				class="d-inline-block align-text-top"
			/>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item me-3">
					<a class="nav-link" aria-current="page" href="/">الرئيسية</a>
				</li>
				<li class="nav-item dropdown me-3">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDarkDropdownMenuLink"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						اختر السورة
					</a>
					<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
						<% surahLinks.forEach(link => { %>
						<li><a class="dropdown-item" href="/surah/<%=link.number%> "><%= link.name %> </a></li>
						<% }); %>
					</ul>
				</li>
				<li class="nav-item me-3">
					<a class="nav-link active" aria-current="page" href="#"><%= surah %></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container my-5">
	<main class="container-fluid d-flex justify-content-center align-items-center mb-5">
		<div class="container ayah-container d-flex justify-content-center flex-column">
			<div class="top-container d-flex justify-content-space-between align-items-center">
				<p class="fs-3">القارئ الشيخ: مشاري راشد العفاسي</p>
				<div class="btns d-flex">
					<i id="pause" class="fa-solid fa-pause" onclick="pause()"></i>
					<i id="player" class="fa-solid fa-play" onclick="play()"></i>
				</div>
			</div>
			<audio id="audio" class="d-none" controls src=""></audio>
			<p class="fs-1 text-center ayat" onclick="ayahPlay(this.id)" id="ayah-0">بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</p>
			<p class="fs-1">
				<span class="ayat" onclick="ayahPlay(this.id)" id="ayah-1">
					<%= surahText[0].replace('بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ', ''); %>
				</span>
				<span class="fs-4"> (<%= 1 %>) </span>
				<% for( let index = 1; index < surahText.length; index++ ) { %>
				<span class="ayat" onclick="ayahPlay(this.id)" id="ayah-<%=index+1%>"><%= surahText[index] %></span
				><span class="fs-4"> (<%=index+1%>) </span>
				<% } %>
			</p>
			<div class="ayah-prop fs-4">
				<span><%= surah %></span> <span>الجزء <%= juz %> </span><span>سورة رقم <%= numberInQuran %></span
				><span>عدد اياتها <%= numberOfAyahs %> </span>
			</div>
			<span class="tafseer-btn btn mt-3 py-2" onclick="tafsirActive()">عرض التفسير</span>
			<div class="tafsir-container">
				<% for( let index = 0; index < tafsir.length; index++ ) { %>
				<p class=""><%= tafsir[index]%> (<%= index+1 %>)</p>
				<% } %>
				<span>التفسير المیسر</span>
			</div>
		</div>
	</main>
	<footer>
		<p>&copy; Mazin Islam 2022</p>
	</footer>
</div>
<script>
	const isPlaying = (audElem) => {
		return !audElem.paused;
	};
	function tafsirActive() {
		document.querySelector(".tafsir-container").classList.toggle("active");
	}
	let audio = document.getElementById("audio");
	var audioArray = <%-JSON.stringify(audioArray) %>;
	audio.src = "https://cdn.islamic.network/quran/audio/128/ar.alafasy/1.mp3";
	var index = 0;
	// audio.play();
	var allayat = document.querySelectorAll(".ayat");
	function ayahPlay(ele){
		const pauseBtn = document.getElementById("pause");
		const playBtn = document.getElementById("player");
		allayat.forEach(ayah => {
			ayah.classList.remove("active")
		});
		playBtn.classList.remove("fa-play");
		playBtn.classList.add("fa-stop");
		pauseBtn.classList.remove("fa-play");
		pauseBtn.classList.add("fa-pause");
		var clicked_id = ele
		var clicked_idNum = Number(ele.replace('ayah-', '').trim());
		if(clicked_idNum===0){
			audio.src = "https://cdn.islamic.network/quran/audio/128/ar.alafasy/1.mp3";
		}else{
			audio.src = audioArray[clicked_idNum-1];
		}
		const activeAyah = document.getElementById(clicked_id);
		activeAyah.classList.add("active");
		index = clicked_idNum;
		audio.play();
	}
	audio.onended = function () {
		activeAyah = document.getElementById("ayah-"+index);
		activeAyah.classList.remove("active");
		if (index < audioArray.length) {
			if (audioArray[index] === "https://cdn.islamic.network/quran/audio/128/ar.alafasy/1.mp3") {
				index++;
			}
			audio.src = audioArray[index];
			audio.play();
			index++;
		}
		activeAyah = document.getElementById("ayah-"+index)
		activeAyah.classList.add("active");
	};
	function play() {
		var playBtn = document.getElementById("player");
		const pauseBtn = document.getElementById("pause");
		pauseBtn.classList.remove("fa-play");
				pauseBtn.classList.add("fa-pause");
		if (audio.currentTime == 0) {
			audio.play();
			document.getElementById("ayah-0").classList.add("active");
			playBtn.classList.remove("fa-play");
			playBtn.classList.add("fa-stop");
		} else {
			playBtn.classList.remove("fa-stop");
			playBtn.classList.add("fa-play");
			audio.pause();
			audio.src = "https://cdn.islamic.network/quran/audio/128/ar.alafasy/1.mp3";
			index = 0;
			audio.currentTime = 0;
			allayat.forEach(ayah => {
			ayah.classList.remove("active")
		});
		}
	}
	function pause() {
		const pauseBtn = document.getElementById("pause");
		if (audio.currentTime == 0) {
			return;
		} else {
			if (isPlaying(audio) == false) {
				audio.play();
				pauseBtn.classList.remove("fa-play");
				pauseBtn.classList.add("fa-pause");
			} else if (isPlaying(audio) == true) {
				audio.pause();
				pauseBtn.classList.remove("fa-pause");
				pauseBtn.classList.add("fa-play");
			}
		}
	}
</script>
